.activity-list {
   .member-img {
      height: 32px;

      object-fit: contain;
      padding-bottom: px;

      img {
         width: 100%;
         border-radius: 25em;
         width: auto;
      }

      span {
         width: max-content;
      }
   }
}

.activity-preview {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   margin: 1rem 0;
   div:first-child {
      display: flex;
      align-items: center;

      p {
         font-size: rem(12px);
         color: $primaryColor;
         padding: 0 0.3rem;
         margin: 0;
         text-overflow: ellipsis;
      }
      p:last-child {
         font-size: rem(12px);
         font-weight: 400;
      }

      span {
         font-weight: 600;
         font-size: rem(14px);
         color: $primaryColor;
         width: rem(200px);
         //  margin-left: 0.5rem;
      }
   }
   div:last-child {
      color: $primaryColor;

      .timestamp {
         font-size: rem(12px);
         margin-left: 1.6rem;
      }
   }
}
