.activity-list{

}

.activity-preview{

    div:first-child{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        p{
            font-size: rem(14px);
            color: $primaryColor;
        }
        p:last-child{
            font-size: rem(12px);
        }
        span{
            font-weight: bold;
        }
    }
}


