.app-header {
     background-color: rgb(255, 255, 255);
     cursor: default;
     position: fixed;
     top: 0px;
     transition: background-color 0.5s ease 0s, box-shadow 0.5s ease 0s;
     width: 100vw;
     z-index: 100;
}

.main-nav-bar {
     display: flex;
     align-items: center;
     justify-content: space-around;
}

.nav-dropdown{
    display: flex;
    align-items: center;
    gap:22px;
}

.a-demo {
    height: 100%;
    background-color: $clr1;
    color: $clr6;
}
