.app-header-homepage {
     background-color: rgb(255, 255, 255);
     cursor: default;
     position: fixed;
     top: 0px;
     transition: background-color 0.5s ease 0s, box-shadow 0.5s ease 0s;
     width: 100vw;
     z-index: 100;

     &:hover {
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
     }
}

.main-nav-bar {
     display: flex;
     align-items: center;
     justify-content: space-around;
}

.nav-dropdown {
     display: flex;
     align-items: center;
     gap: 10px;
     min-width: 35%;

     button {
          background-color: transparent;
     }

     .nav-link {
          font-size: 1rem;
          background-color: $clr6;
          color: rgb(23, 43, 77);

          &:hover {
               color: $clr1;
          }
     }
}

.a-login {
     font-size: 1.2rem;
     padding: 0.5rem 1.5rem;
     cursor: pointer;
}

.btn-demo {
     height: 60px;
     margin: 0;
     font-size: 1.2rem;
     padding: 0.5rem 1.5rem;
     text-decoration: none;
     background-color: $clr1;
     color: $clr6;
}

// this header will display while in other pages not in Homepage
.app-header-work {
     position: static;
}

.main-nav-bar-work {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 0.5rem;
}

.nav-dropdown-work {
     display: flex;
     align-items: center;
}

// display the user in header
.div-user{
     background-color: rgb(99, 69, 137);
     color: white;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 50%;
     width: 24px;
     height: 24px;
     
     h2{
          font-size: 0.7rem;
     }
}
