.app-header {
     background-color: rgb(255, 255, 255);
     cursor: default;
     position: fixed;
     top: 0px;
     transition: background-color 0.5s ease 0s, box-shadow 0.5s ease 0s;
     width: 100vw;
     z-index: 100;
}

.main-nav-bar {
     display: flex;
     align-items: center;
     justify-content: space-around;
}

.nav-dropdown{
    display: flex;
    align-items: center;
    gap:22px;
    min-width: 35%;
}

.btn-login{
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
}

.btn-demo {
    height: 60px;
    margin:0;
    font-size:1.2rem;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
}
