.board-header {
    display: grid;
     grid-template-columns: repeat(2, 1fr);
        

          .share-board-btn {
               padding-left: 8px;
               margin-right: 4px;
               text-decoration: none;
               text-overflow: ellipsis;
               height: 32px;
               margin-bottom: 0px;
               white-space: nowrap;
               background-color: #DFE1E6;
               color: #172B4D;

               display: flex;
               align-items: center;
               justify-items: center;
               border-radius: 3px;

               .btn-txt{
               // margin: 0px 0px 0px 4px;
               // font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
               // font-size: 14px;
               // font-weight:400;


               }

               svg{
                   margin-left: 4px;
                   width: 16px;
                   height: 16px;
               }
               &:hover {
                    background-color: #FFFFFF;
                }

          }

         
       

          .svg-btn{
              
               padding: 10px;
               background-color: transparent;
               color: #FFFFFF;
               border: none;
               border-radius: 4px;
               cursor: pointer;
               display: flex;
               align-items: center;
               justify-content: center;
               font-size: 16px;
               &:hover{
                    background-color: #a6c5e229;
               }

          }
          

          .left {
               display: grid;
               grid-template-columns: repeat(4, max-content);
               grid-gap: 10px;
               justify-self: left;
               
          }

          .right {
               
               display: grid;
               grid-template-columns: repeat(3, max-content);
               grid-gap: 10px;
               justify-self: right;
              
          }
          // .button {
          //      color: white;
          //      background-color: rgba(255, 255, 255, 0.3);
          //      border-radius: 5px;
          //      padding: 5px;
          //    }

             .board-title {
               background: transparent;
               font-size: rem(18px);
               line-height: rem(32px);
               overflow: hidden;
               margin-left:rem(13px);
               white-space: nowrap;
               height: 100%;
               padding: rem(8px) rem(5px);
               font-family: 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu',
                    'Droid Sans', 'Helvetica Neue', sans-serif;
                    color: $clr6;
                    cursor: pointer;


               &:hover{
                    background-color: #a6c5e229;
               }
          }
}
