.board-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
    grid-auto-rows: 140px;
    gap: 1rem;

    list-style-type: none;

    .board-preview {
        cursor: pointer;
        height: 100%;
        border-radius: 5px;
        position: relative;

        &:hover {
            .starred-container .star-icon {
                opacity: 1;
                stroke-width: 20px;
            }
        }
    }
}