.group-preview {
     display: flex;
     justify-content: start;
     margin: rem(5px) rem(0px) rem(1px) rem(15px);
     flex-direction: column;
     min-width: 17rem;
     height: fit-content;
     width: rem(256px);
     background-color: $clr30;
     border-radius: 0.5rem;
     overflow-y: auto;

     h1 {
          font-size: rem(14px);
          margin-left: 1.6rem;
          margin-top: 0.8rem;
          color: #172b4d;
          font-weight: 500;
     }
}

.add-new-task {
     display: flex;
     margin: 0rem 0.3rem;

     button {
          display: flex;
          align-items: center;
          font-size: rem(14px);
          margin-left: 0.9rem;
          padding: 0.5rem 0.4rem;
          color: rgb(68, 84, 111);
          width: rem(234px);
          border-radius: 0.3rem;

          &:hover {
               background-color: rgb(223, 223, 223);
          }

          svg {
               margin-right: 0.4rem;
          }
     }

     .add-task-icon path {
          font-size: rem(14px);
          fill: #6f7c91;
     }
}

.add-task-opened {
     textarea {
          width: rem(234px);
          height: rem(70px);
          margin-left: 1.2rem;
          padding: 0.3rem;
          font-family: sans-serif;
          resize: none;
          border: none;
          border-radius: 0.2rem;
          &:focus {
               outline: none;
          }
     }

     .add-task-btns {
          display: flex;
          align-items: center;

          .add-card-btn {
               background-color: #0079bf;
               color: white;
               border-radius: 0.3rem;
               padding: 0.5rem 0.7rem;
               margin-left: 1.1rem;
               &:hover {
                    background-color: #035280;
               }
          }
     }
}

.add-group {
     margin-top: 0.7rem;
     padding: 0.3rem;
     background-color: #ebecf0;
     height: rem(106px);
     border-radius: 0.5rem;
     transition: 0.2s ease;
     input {
          width: rem(264px);
          height: rem(36px);
          margin-top: 0.3rem;
          padding: 0.2rem;
          border-radius: 0.2rem;
          border: 2px solid #0079bf;
          &:focus {
               outline-color: #0079bf;
          }
     }

     .add-new-list {
          margin-top: 0.5rem;
          button:first-child {
               background-color: #0079bf;
               color: white;
               border-radius: 0.2rem;
               margin: 0.1rem;
               padding: 0.5rem 0.9rem;
               font-weight: 400;

               &:hover {
                    background-color: darken($color: #0079bf, $amount: 10);
               }
          }
     }
}
