.group-list-container {
     display: flex;
     min-height: 100vh;
}

.add-group-btn {
     display: flex;
     align-items: center;
     width: rem(260px);
     max-height: rem(32px);
     background-color: rgba(240, 248, 255, 0.317);
     padding: 6px 8px;
     transition: color 85ms ease-in;
     margin-top: 0.6rem;
     border-radius: 0.3rem;
     
     cursor: pointer;
     &:hover {
          background-color: rgba(213, 217, 220, 0.317);
     }
     p {
          margin: 0;
          padding: 0 0.5rem;
          font-size: rem(14px);
     }

     .icon {
          font-size: rem(14px);
     }
}
