.group-list-container {
     display: flex;
     height: calc(100vh - rem(104px));
     overflow-y: hidden;
     margin-top: 0.5rem;
}

.add-group-btn {
     display: flex;
     align-items: center;
     width: rem(260px);
     max-height: rem(32px);
     background-color: rgba(240, 248, 255, 0.317);
     padding: 23px 15px;
     transition: color 85ms ease-in;
     margin-top: 0.4rem;
     margin-left: 0.5rem;
     border-radius: 0.6rem;
     color: white;
     min-width: rem(272px);
     cursor: pointer;
     
     &:hover {
          background-color: rgba(213, 217, 220, 0.317);
     }

     p {
          margin: 0;
          padding: 0 0.5rem;
          font-size: rem(14px);
          font-weight: 600;
     }

     .icon-add-group {
          font-size: rem(14px);
          color: white;
     }
     // .icon-add-group path,
     // .icon-add-group svg {
     //      fill: white;
     // }
}
