.task-preview-container {
    background-color: #fff;
    border-radius: 0.2rem;
    box-shadow: 0 0.05rem 0 rgba(9, 30, 66, 0.25);
    display: flex;
    flex-direction: column;
    margin: 0.5rem 1rem;
  }
  
  .title-container {
    display: flex;
    align-items: start;
    padding: rem(6px) rem(8px) rem(6px);
    border-radius: 0.2rem;

    p{
        font-size: rem(14px);
    }
  }
  
  .title-container p {
    margin: 0;
  }
  