.task-overview{

    display: flex;
    flex-wrap: wrap;
    h4{
   
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        margin-top: 16px;
        color:#44546F
    } 

    .task-members-container{
    margin-inline-start: 3em;

        .task-member-icon{
            cursor: pointer;
            width: 32px;
            height: 32px;
            margin-right: 8px;
            margin-block: 4px;
            border-radius: 50%;
            // outline: red solid 1px;
            &:hover{
                //TODO - add hover effect
             
            }
         }

         .task-members-list{
            display: flex;
          
            gap: -1px;
         }
    }
    
 

.subscribe-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #e1e1e1;
    }
  
    .svg-icon {
      margin-right: 10px;
      font-size: 18px;
      color: #333;
    }
  
    .btn-txt {
      font-size: 16px;
      color: #333;
    }
  }
}

.add-member-btn{
    display: flex;
    align-items: center;
    background-color: #E3E6EA;
    border-radius: 50%;
    width:32px;
    height: 32px;

    &:hover{
        background-color: #091E4224
    }

}