.task-list-container {
    border-radius: 3px;
    color: #172b4d;
    position: relative;
    margin-inline: 0.3rem; 
    flex: 1;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: #E4E6EA;
    }

    &::-webkit-scrollbar-thumb {
        background: #C5C9D1;
        border-radius: 5px;
    }
}