* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::selection {
    background-color: $clr1;
    color: $clr6;
}

html {
    font-family: sans-serif;
    line-height: 1.6;
    
}

body {
    font-size: rem(18px);
    margin: 0;
    margin: auto;
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    line-height: 1;
}


section, main, footer {
}

img {
    width: 100%;
}

p {
    margin: 0 0 1em;
}


//links
//  TODO add after i explain to dor and shaul
// a {
//     text-decoration: none;
//     &.active {
//         background-color: $clr4;
//         font-weight: bold;
//         color: $clr3;
//     }
// }
// a:hover {

// }

// buttons 
  //TODO: customize to my needs with asi

.btn {
    @include btn;
    
    &-dark {
        @include btn($type: dark);
    }
  
    &-round {
      @include btn($type: round)
    }
  }