/* Workspace.scss */

// Variables
$primaryColor: #0079bf;
$secondaryColor: #dfe3e6;
$starColorActive: yellow;
$starColorInactive: gray;

.workspace-container {
  display: flex;
  padding: 2rem;
  
  main {
    flex-grow: 1;
    
    button {
      background-color: $primaryColor;
      color: white;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 0.3rem;
      margin-bottom: 1rem;
      cursor: pointer;
      
      &:hover {
        background-color: darken($primaryColor, 10%);
      }
    }
    
    h2 {
      font-size: 1.5rem;
      font-weight: bold;
      color: $primaryColor;
      margin-bottom: 1rem;
    }
  }
}

.board-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
  .board-preview {
    background-color: $secondaryColor;
    border-radius: 0.3rem;
    cursor: pointer;
    
    article {
      position: relative;
      padding: 1rem;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    .board-title {
      font-size: 1.2rem;
      color: $primaryColor;
      margin-right: 1rem;
    }
    
    .star-icon {
      position: absolute;
      bottom: 0.8rem;
      right: 0.8rem;
      color: $starColorInactive;
      font-size: 1.2rem;
      
      &.active {
        color: $starColorActive;
      }
    }
  }
}
