.create-board-content {
   display: flex;
   flex-direction: column;
   border-radius: 3px;

   .board-preview {
      width: rem(200px);
      height: rem(120px);
      padding: 0.5rem;
      border-radius: 3px;
      display: flex;
      margin: 1rem auto;
      align-items: center;
      justify-content: center;
   }

   .color-selector {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      gap: 0.4rem;
      .color-option {
         width: 62px;
         height: 40px;
         border-radius: 0.5rem;
         cursor: pointer;

         &:hover{
            opacity: 0.8; /* Set the desired opacity value */
         }
      }
   }

   .workspace-text-style {
      font-size: rem(12px);
      color: $primaryColor;
      font-weight: 700;
      color-scheme: light;
      margin-bottom: rem(4px);
      margin-top: rem(12px)
   }

   .workspace-board-input {
      width: 100%;
      height: rem(36px);
      border-radius: 0.3rem;
      border: none;
      outline: none;
      box-shadow: inset 0 0 0 1px $clr1;
   }

   .workspace-create-btn {
      width: 100%;
      height: rem(32px);
      color: $primaryColor;
      border-radius: 0.3rem;
      margin: 0.6rem 0;
      &:hover {
         background-color: darken($color: #f0f0f0, $amount: 3);
      }
   }
}
