.dynamic-action-modal {
     position: fixed;
     z-index: 100;
     padding: 1rem;
     background-color: #fff;
     border-radius: 0.3rem;
     box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1),
          0 0.1rem 0.2rem rgba(0, 0, 0, 0.06);
     width: rem(304px);
     display: flex;
     flex-direction: column;

     &.activity-modal {
          animation: slideInFromRight 0.3s ease-out;
      }

     .dynamic-modal-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid #ccc; 
          padding-bottom: 0.5rem; 
          margin-bottom: 1rem; 

          button {
               background-color: inherit;

               &:hover {
                    // darken
               }
          }

          .btn-content{
            font-size: rem(12px);
            background-color: transparent;
            border: none;
          }

          span {
               font-size: rem(14px);
               font-weight: 400;
               position: relative;
               left: 37%;
          }
     }
}



@keyframes slideInFromRight {
     0% {
         transform: translateX(100%);
     }
     100% {
         transform: translateX(0);
     }
 }
