.filter-content{
display: flex;
.filter-checkbox{
   box-shadow: inset 0 0 0 2px #dfe1e6;
   border: none;
   cursor: pointer;
   &:active,
   &:focus {
      box-shadow: inset 0 0 0 2px #dfe1e6;
      border: none;
   }

   &:checked {
      box-shadow: none;
   }
}
}

.labels-filter-area {
   padding: 0 1rem;
   width: 100%;
   height: rem(32px);
   label {
      color: $primaryColor;
      font-size: rem(14px);
   }

   border-radius: 0.3rem;
}

.members-filter-area {
   label {
      color: $primaryColor;
      font-size: rem(14px);
      display: flex;
      align-items: center;
      padding: 0.2rem 0rem;
   }
}

.filter-btns-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 1rem 0;
   button:first-child {
      background-color: $clr1;
      border-radius: 0.3rem;
      color: #fff;
      padding: 0.6rem;

      &:hover {
         background-color: darken($color: $clr1, $amount: 3);
      }
   }
   button:last-child {
      border-radius: 0.3rem;
      padding: 0.6rem;

      &:hover {
         background-color: darken($color: #f0f0f0, $amount: 3);
      }
   }
}

.filter-text-style {
   font-size: rem(12px);
   font-weight: 600;
   color: $primaryColor;
   margin-bottom: 0.3rem;
}

.filter-align {
   display: flex;
   flex-direction: column;
   gap: 0.3rem;

   input {
      margin-right: 0.45rem;
   }
}
