.labels-content{

    h4{
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        margin-top: 16px;
        color:#44546F
    }
}
.members-modal-search{
   
    .modal-labels-input{
        // background-color: #fafbfc;
        width: 100%;
        border: none;
        border-radius: 3px;
        box-shadow: inset 0 0 0 2px #dfe1e6;
        display: block;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 10px;
       

        &:hover{
           background-color: #F7F8F9;
        }
        &:focus {
        box-shadow:inset 0 0 0 2px #388bff}
      &::placeholder{
        color: #43546F;
        
      }  
    }
    
}

