.task-cover-section {
     h5 {
          margin-block-end: 5px;
          font-size: rem(12px);
          color: #44546f;
     }
}

.colors-container {
     display: flex;
     flex-wrap: wrap;
     gap: 0.25rem;
}

.cover-colors-section {
     width: 50px;
     height: 32px;
     cursor: pointer;
     border-radius: 0.2rem;
}

.cover-options {
     display: flex;
     gap: 1rem;
}

.remove-cover-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    button{
        margin: 1.5rem 0;
        width: 100%;
        border-radius: 0.2rem;
        padding: 0.5rem 0;
        background-color: #F1F2F4;

        &:hover{
            background-color: darken($color: #F1F2F4, $amount: 5);
        }
    }
}

.half-cover {
     width: 136px;
     height: 64px;
     
     cursor: pointer;
     .upper-cover {
          width: 100%;
          height: 50%;
          border-radius: 0.5rem 0.5rem 0 0;
          background-color: #dcdfe4;
     }

     .bottom-cover {
          position: relative;
          width: 100%;
          height: 50%;
          background-color: white;

          .bottom-line-1 {
               position: absolute;
               top: 5px;
               width: 90%;
               height: 15%;
               background-color: #dcdfe4;
               border-radius: 1rem;
          }

          .bottom-line-2 {
               position: absolute;
               top: 12px;
               width: 80%;
               height: 15%;
               background-color: #dcdfe4;
               border-radius: 1rem;
          }

          .bottom-btn-1 {
               position: absolute;
               width: 15%;
               height: 18%;
               background-color: #dcdfe4;
               border-radius: 1rem;
               top: 60%;
          }

          .bottom-btn-2 {
               position: absolute;
               width: 15%;
               height: 18%;
               background-color: #dcdfe4;
               border-radius: 1rem;
               top: 60%;
               left: 20%;
          }

          .bottom-circle {
               position: absolute;
               width: 6%;
               height: 20%;
               background-color: #dcdfe4;
               right: 5px;
               top: 60%;
               border-radius: 5px;
          }
     }
}

.full-cover {
     width: 136px;
     height: 64px;
     cursor: pointer;
     .full {
          width: 100%;
          height: 100%;
          background-color: #dcdfe4;
          position: relative;
          border-radius: 0.5rem 0.5rem 0.3rem 0.3rem;
          
          .full-line-1 {
               position: absolute;
               width: 90%;
               height: 7%;
               bottom: 16px;
               left: 2px;
               border-radius: 1rem;
               background-color: white;
          }

          .full-line-2 {
               position: absolute;
               width: 70%;
               height: 7%;
               bottom: 5px;
               left: 2px;
               border-radius: 1rem;
               background-color: white;
          }
     }
}
