/* button mixins */

@mixin btn($type: regular,
     $bg: $defaultBtnBgCol,
     $clr: $primaryBtnColor,
     $padding: em(10px) em(20px),
     $hover: darken($bg, 8%)) {
     display: block;
     text-align: center;
     text-decoration: none;
     text-transform: uppercase;
     padding: $padding;
     line-height: 1.25;
     font-size: em(14px);
     font-variation-settings: 'wght' 430;
     border: none;
     cursor: pointer;

     transition: background-color 0.2s;

     //TODO: customize to my needs with asi
     @if $type ==regular {
          background-color: $bg;
          color: $clr;
          width: rem(80px);

          &:hover {
               background-color: $hover;
          }
     }

     @else if $type ==dark {
          background-color: $darkBtnColor;
          color: $primaryBtnColor;

          &:hover {
               background-color: $defaultBtnBgCol;
               color: $primaryBtnColor;
          }
     }

     @else if($type==round) {
          background-color: $roundBtnColor;
          border-radius: 2em;

          &:hover {
               background-color: darken($defaultBtnBgCol, 9%);
          }
     }
}

/* Breakpoint mixins */

@mixin for-mobile-layout {
     @media (max-width: calc($mobile-breakpoint + 40px)) {
          @content;
     }
}

@mixin for-narrow-layout {
     @media (min-width: calc($mobile-breakpoint + 40px)) {
          @content;
     }
}

@mixin for-normal-layout {
     @media (min-width: calc($narrow-breakpoint + 40px)) {
          @content;
     }
}

@mixin for-wide-layout {
     @media (min-width: calc($normal-breakpoint + 40px)) {
          @content;
     }
}

@mixin flexAlign() {
     display: flex;
     justify-content: center;
     align-items: center;
}


/* Media  Mixins */
@mixin aspect-ratio($width, $height) {
     position: relative;
     overflow: hidden;

     &::before {
          display: block;
          content: '';
          width: 100%;
          padding-top: calc(($height / $width) * 100%);
     }

     >* {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
     }

     >img {
          height: 100%;
          object-fit: cover;
     }
}

// Mixin for removing hover efects on iphone screen
@mixin hover-supported {
     @media not all and (pointer: coarse) {
          &:hover {
               @content;
          }
     }
}