// Colors
$clr1: rgb(0, 101, 255); // btn call to action color
$clr2: #0747A6; // hover btn bg color
$clr6: #fff;
$clr7: #222;
$primaryColor: #172b4d;

//colors for buttons mixin
$defaultBtnBgCol: rgb(0, 0, 0);
$primaryBtnColor: rgb(0, 101, 255);
$darkBtnColor: rgb(40, 40, 40);
$roundBtnColor: rgb(255, 0, 0);


//colors for group-preview starts from30
$clr30: #EBECF0;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;