// Colors
$clr1: rgb(0, 101, 255); // btn call to action color
$clr2: #0747A6; // hover btn bg color
$clr6: #fff;
$clr7: #222;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;